[core]
	excludesfile = /Users/lacolaco/.gitignore_global
	autocrlf = input
	editor = code --wait
[user]
	email = suguru.inatomi@gmail.com
	name = Suguru Inatomi
[color]
	ui = auto
[url "git@github.com:"]
    # insteadOf = https://github.com/
[init]
	defaultBranch = main
